form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  input, textarea {
    width: 80%;
    font-size: 20px;
    padding: 10px;
    outline: none;
  }
  label {
    font-size: 18px;
    margin: 20px 0;

  }
  input {
    height: 40px;
    text-align: center;
  }
  textarea {
    font-family: 'Roboto';
    height: 90px;
    resize: none;
  }
  input#submit {
    background-color: #0cbaba;
    margin: 20px 0;
    border: none;
    overflow: hidden;
    transition: all 300ms ease;
    &:hover,
    &:focus {
      background-color: lighten(#0cbaba, 5%);
    }
  }
}