header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid black;
  h1 {
    background: linear-gradient(to right top, #0cbaba, #380036);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-size: 16px;
  }
}