li {
  width: 100%;
  border: 1px solid #bbb;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 10px 0;
  font-size: 18px; 
  div {
    padding: 20px;
  }
  div.person {
    width: 20%;
    background-color: #eee;
    text-align: center;
  }
  div.gratitude {
    width: 80%;
  }
}